* {
    font-family: "Quicksand", sans-serif;
    background-color: #fff8ee;
}

.list.header {
    font-size: 70px;
    font-weight: 700;
}

li {
    color: #cf1616eb;
    font-weight: 500;
}

.mario {
    height: auto;
    width: 450px;
}

a:link,
a:visited {
    text-decoration: none;
    color: #cf1616eb;
}

a:hover {
    text-decoration: underline;
}